
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  *{
    box-sizing: border-box;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
 
  
  .hidden{
    display: none;
  }


  
  .chat-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chat-display {
    height: 500px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .chat-bubble {
    margin: 5px 0;
  }
  .chat-bubble p{ 
    border-radius: 10px;
    padding: 5px 10px;
    max-width: 80%;
    white-space: wrap;
    word-wrap: break-word;
    line-height: 1.5rem;
  }
  
  .chat-bubble.bot p{
    background-color: #f0efef;
  }
  .chat-bubble.user p{
    background-color: #000000;
    color: white;
  }
  .chat-bubble.user {
    text-align: right;
    display: flex;
    justify-content: right;
  }
  .chat-input {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    
}
  
  .chat-input input {
    flex: 1;
    border: 2px solid #000;
    padding: .5rem 1rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    outline: none;
}
  .chat-input input:focus{
    border-color: #4CAF50;
  }
  
  .chat-input button {
    background-color: #4CAF50;
    color: white;
    padding: .5rem 1rem;
    margin-left: 1rem;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #45a049;
  }
  